body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    background: url('/IMG-20240309-WA0014.jpg') center/cover no-repeat fixed;
    height: 100vh;
}

form {
    max-width: 400px;
    width: 90%; 
    margin: 10% auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f5ebeb;
}

h5 {
    padding-left: 5%; 
    font-style: italic;
}

h1 {
    text-align: center;
    color: #8f4fcf;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #f7bb07;
    font-weight: bolder;
}

input {
    width: calc(100% - 20px); 
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}
select:focus, input:focus {
    border-color: #a2d2a4;
}


button {
    background-color: #8f4fcf;
    color: #ffffff;
    padding: 12px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 50%; 
    margin-left: 0; 
    font-weight: bolder;
}

button:hover {
    background-color: #e3bb08;
}

@media only screen and (max-width: 600px) {
    form {
        width: 90%;
        padding: 10px;
    }

    input {
        width: 90%;
    }
}
